.sp__wrapper
  .container
    sp-header(page-title="Server Status" sub-title="Official Rocket League server statuses. (Auto-updated every minute.)")
    .row
      .col-md-6
        .sp__spinner(ng-if="!vm.regions")
        table.table.table-responsive.sp__table(ng-if="vm.regions")
          thead
            tr
              th Region
              th Status
              th Latency
              th Last Checked
          tbody
            tr(ng-repeat="region in vm.regions | orderBy:'name'")
              td {{ region.region | rlRegion }}
              td
                span(ng-style="!region.online ? {'color':'#CA4A4A'} : {}")
                  i.fa(ng-class="{'fa-exclamation-triangle': !region.online}")&nbsp;
                  | {{ region.online ? 'Online' : 'Offline' }}
              td(ng-bind-html="region.ping | rlRegionPing : region.region")
              td {{ region.updatedAt | amUtc | amLocal | amDateFormat:'HH:mm' }}
        .sp__mm-full
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="4166366848" ad-format="auto" css-style="display:block;")
      .col-md-4.col-md-offset-2
        .sp__mm-full
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="2287837646" ad-format="auto" css-style="display:block;")
    .sp__mini-rank-form.visible-xs.visible-sm
      form.sp__rank-form
        .form-group
          label.control-label Enter a Steam Profile URL
          input.form-control.input-sm(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
          p.help-block(ng-if="vm.profileError")
            | {{ vm.profileError }}
        button.btn.btn-primary.btn-block.btn-sm(ng-click="vm.goToProfile(vm.steamProfileUrl)")
          | Get Ranks & Stats
          span.sp__spinner.sp__spinner-mini.pull-right(ng-if="vm.showLoader")
