.sp__wrapper
  .container
    sp-header(page-title="Global Leaderboards")
    .row
      .col-md-4
        .sp__spinner(ng-if="!vm.regions")
        table.table.table-responsive.sp__table(ng-if="vm.regions")
          thead
            tr
              th Region
              th Status
          tbody
            tr(ng-repeat="region in vm.regions | orderBy:'name'")
              td {{ region.region | rlRegion }}
              td
                span.sp__indicator(ng-class="{'online': region.online, 'offline': !region.online}") {{ region.online ? 'Online' : 'Offline' }}
    .sp__mini-rank-form.visible-xs.visible-sm
      form.sp__rank-form
        .form-group
          label.control-label Enter a Steam Profile URL
          input.form-control.input-sm(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
          p.help-block(ng-if="vm.profileError")
            | {{ vm.profileError }}
        button.btn.btn-primary.btn-block.btn-sm(ng-click="vm.goToProfile(vm.steamProfileUrl)")
          | Get Ranks & Stats
          span.sp__spinner.sp__spinner-mini.pull-right(ng-if="vm.showLoader")
