doctype html
html
  head
    base(href="/")
    title Rocket League Rank - View & Share your Rocket League Rank!
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- inject:css
    link(rel="stylesheet", href="/css/base.css")
    //- endinject
    link(rel="stylesheet", href="/vendor/ng-scrollbar/dist/ng-scrollbar.min.css")
  body(ng-app="app")
    header(ng-include="'/views/navbar/navbar'")
    section#main(ng-view)

    //- bower:js
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    //- endinject
    
    script(src="/app/rlrank-templates.js")
    
    //- app:js
    script(src="/app/app.js")
    script(src="/app/home/home.ctrl.js")
    script(src="/app/home/rank.svc.js")
    script(src="/app/profile/profile.ctrl.js")
    script(src="/app/profile/profile.svc.js")
    script(src="/app/_core/filters.js")
    //- endinject
