.sp__wrapper
  .container
    sp-header(page-title="Rocket League Rank Tiers" sub-title="Season 3 MMR range for each tier and division")
    .sp__tabs
      ul
        li.active(ng-class="{'active': vm.currentTab == 3}" ng-click="vm.currentTab = 3") Season 3
        li(ng-class="{'active': vm.currentTab == 2}" ng-click="vm.currentTab = 2") Season 2
    .row
      .col-md-10
        table.table.table-responsive.sp__table
          thead
            tr
              th(colspan="2")
                | Rank
              th.text-right
                | Division I
              th.text-right
                | Division II
              th.text-right
                | Division III
              th.text-right
                | Division IV
              th.text-right
                | Division V
              th.text-right
                | # of ranks
          tbody
            tr(ng-repeat="range in vm.tierRanges[vm.currentTab] | orderBy: '-' + range.tier" ng-if="range.tier || range.tier === 0")
              td
                img.sp__table-rank(src="/img/ranks/{{ range.tier + '_w.png' }}" title="{{ range.tier | rlTier }}")
              td.text-uppercase
                {{ range.tier | rlTier }}
              td.text-right
                span(ng-repeat="division in range.divisions" ng-if="division.division == 4") {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }}
              td.text-right
                span(ng-repeat="division in range.divisions" ng-if="division.division == 3") {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }}
              td.text-right
                span(ng-repeat="division in range.divisions" ng-if="division.division == 2") {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }}
              td.text-right
                span(ng-repeat="division in range.divisions" ng-if="division.division == 1") {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }}
              td.text-right
                span(ng-repeat="division in range.divisions" ng-if="division.division == 0") {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }}
              td.text-right
                {{ range.count }}
          
      .col-md-2
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="1220220447" ad-format="auto" css-style="display:block;")
