.sp__wrapper
  .container
    sp-header(page-title="Rocket League Rank Tiers" sub-title="The MMR ranges for each tier and division (including total players)")
    adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="1220220447" ad-format="auto" css-style="display:block;" full-width="true")
    .sp__tabs
      ul
        li.active(ng-class="{'active': vm.currentTab == 3}" ng-click="vm.currentTab = 3") Season 3
        li(ng-class="{'active': vm.currentTab == 2}" ng-click="vm.currentTab = 2") Season 2
    .row
      .col-md-10
        table.table.table-responsive.sp__table
          thead
            tr
              th(colspan="2")
                | Rank
              th.text-right
                | Division I
              th.text-right
                | Division II
              th.text-right
                | Division III
              th.text-right
                | Division IV
              th.text-right
                | Division V
          tbody
            tr(ng-repeat="range in vm.tierRanges[vm.currentTab] | orderBy: '-' + range.tier" ng-if="range.tier || range.tier === 0")
              td
                img.sp__table-rank(src="/img/ranks/{{ range.tier + '_w.png' }}" title="{{ range.tier | rlTier }}")
              td.text-uppercase
                {{ range.tier | rlTier }}
              td.text-right
                div(ng-repeat="division in range.divisions" ng-if="division.division == 4")
                  div {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }} 
                  div {{ division.count | multiplier:range.tier }}
              td.text-right
                div(ng-repeat="division in range.divisions" ng-if="division.division == 3")
                  div {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }} 
                  div {{ division.count | multiplier:range.tier }}
              td.text-right
                div(ng-repeat="division in range.divisions" ng-if="division.division == 2")
                  div {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }} 
                  div {{ division.count | multiplier:range.tier }}
              td.text-right
                div(ng-repeat="division in range.divisions" ng-if="division.division == 1")
                  div {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }} 
                  div {{ division.count | multiplier:range.tier }}
              td.text-right
                div(ng-repeat="division in range.divisions" ng-if="division.division == 0")
                  div {{ ::division.maxMMR }} <i class="fa fa-long-arrow-right" style="font-size: 11px;"></i> {{ ::division.minMMR }} 
                  div {{ division.count | multiplier:range.tier }}
      .col-md-2
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="6179653649" ad-format="auto" css-style="display:block;" full-width="true")
    adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="3507108447" ad-format="auto" css-style="display:block;" full-width="true")
          
      
