.sp__wrapper  
  .container
    sp-header(page-title="Rocket League Rank Blog" sub-title="Tips on how to build your Rocket League stats and climb the rankings.")
    .row
      .col-md-2
        h4.text-center Advertisement
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="2304733649" ad-format="auto" css-style="display:block;")
      .col-md-7
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="5258200048" ad-format="auto" css-style="display:block;")
        article.sp__blog-post(itemscope itemtype="http://schema.org/NewsArticle" ng-repeat="post in vm.posts")
          header
            h1(itemprop="name") {{ post.title }}
            p
              span(itemprop="by-author") By {{ post.author }}
              | &nbsp;/&nbsp;
              time(itemprop="datePublished" datetime="{{ post.published_at }}") {{ post.published_at | amTimeAgo }}
            .sp__blog-social
              | <a twitter data-lang="en" data-count="horizontal" data-url="/blog/best-controller-rocket-league" data-via='rlrank' data-text="What is the best controller for Rocket League? https://rocketleaguerank.com/blog/best-controller-rocket-league #rocketleague" data-hashtags="rocketleague" data-size="medium" data-text='Tweet' ></a>
            .sp__blog-social
              | <a facebook class="facebookShare" data-url='/blog/best-controller-rocket-league'>4</a>
            h2(itemprop="headline") {{ post.sub_title }}
          section
            div(itemprop="articleBody" markdown-to-html="post.content")
      .col-md-3
        h4.text-center More Articles
        aside.sp__blog-side
          ul
            li(ng-repeat="post in vm.posts")
              a(href="/blog/best-controller-rocket-league") {{ post.title }}&nbsp;
              | By {{ post.author }} /&nbsp;
              | {{ post.published_at | amTimeAgo }}
        mm-banner(code="LOOT1")
