doctype html
html
  head
    base(href="/")
    title Rocket League Ranks, Stats, MMR, Leaderboards and much more!
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    meta(name="description" content="Rocket League Ranks, Stats, Comparison, Leaderboards and more! Look up your in-game rank and stats, historical MMR, global leaderboards, rank tiers and server status.")
    meta(name="keywords" content="rocket league ranks, rocket league stats, rocket league statistics, rocket, league, rocket league, rocket league leaderboards, rocket league profile, rocket league mmr, rocket league rating, rocket league server status, rocket league rank tier")

    meta(name="fragment" content="!")
    
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="/img/icons/favicon-196x196.png" sizes="196x196")
    link(rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/img/icons/favicon-128.png" sizes="128x128")
    meta(name="application-name" content="RLRank")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/img/icons/mstile-144x144.png")
    meta(name="msapplication-square70x70logo" content="/img/icons/mstile-70x70.png")
    meta(name="msapplication-square150x150logo" content="/img/icons/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo" content="/img/icons/mstile-310x150.png")
    meta(name="msapplication-square310x310logo" content="/img/icons/mstile-310x310.png")
    meta(name="theme-color" content="#2b2b2b")
    
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
    //- inject:css
    //- endinject
    
  body(ng-app="app")
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .wrapper
      header(ng-include="'/views/navbar/navbar'")
      .inner-wrapper(ng-view)
        
    footer
      .container
        .sp__footer
          .row
            .col-sm-6
              ul
                li
                  a(title="Rocket League Rank Twitter" href="https://twitter.com/rlrank") Twitter
                li
                  a(title="Rocket League Rank Facebook" href="https://www.facebook.com/rocketleaguerank") Facebook
                li
                  a(title="About Rocket League Rank" href="/about") About Us
                li
                  a(title="Privacy policy of Rocket League Rank" href="/privacy") Privacy
                li
                  a(title="Advertise on Rocket League Rank" href="/advertise") Advertise
            .col-sm-6.text-right
              ul
                li Rocket League ranks are pulled directly from Psyonix. We are not affiliated with Psyonix.
              ul
                li &copy; Swiftping 2016
          .row
            .col-md-2
              discord-button
    
    script(type="text/javascript" src="/vendor/socket.io-client/socket.io.js")
    script(type="text/javascript" src="//platform.twitter.com/widgets.js")
    
    //- app:js

    //- endinject
    
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js")
    
  
