.sp__wrapper
  .container
    .row
      .col-md-4
        h1 Global Leaderboards
        span.sp__sub-header Updated every hour
      .col-md-4
        .sp__advert
          ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-1249925481918023" data-ad-slot="5056510793" data-ad-format="auto")
      .col-md-4
        .sp__mini-rank-form
          form.sp__rank-form
            .form-group
              label.control-label Enter a Steam Profile URL
              input.form-control.input-sm(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
              p.help-block(ng-if="vm.profileError")
                | {{ vm.profileError }}
            button.btn.btn-primary.btn-block.btn-sm(ng-click="vm.goToProfile(vm.steamProfileUrl)")
              | Get Ranks & Stats
              span.sp__spinner.sp__spinner-mini.pull-right(ng-if="vm.showLoader")
    .sp__leaderboards
      .row
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            thead
              tr
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'position')" href="#") Pos
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'tier')" href="#") Rank
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'username')" href="#") Username
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'mmr')" href="#") MMR
            tbody
              tr(ng-repeat="player in leaderboard | orderBy: vm.sort[playlist] | limitTo: vm.limit")
                td
                  strong {{ '#' + player.position }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" ng-title="player.tier | rlPlaylist")
                td
                  a(ng-if="player.username" ng-title="player.username" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
                  
          button.btn.btn-info.btn-block.visible-xs.visible-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
                  
      button.btn.btn-info.btn-block.hidden-xs.hidden-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
