.sp__wrapper
  .container
    sp-header(page-title="Global Leaderboards" sub-title="Top 200 players (updated every hour)")
    .sp__leaderboards
      .row
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            thead
              tr
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'position')" href="#") Pos
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'tier')" href="#") Rank
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'username')" href="#") Username
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'mmr')" href="#") MMR
            tbody
              tr(ng-repeat="player in leaderboard | orderBy: vm.sort[playlist] | limitTo: vm.limit")
                td
                  strong {{ '#' + player.position }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" ng-title="player.tier | rlPlaylist")
                td
                  a(ng-if="player.username" ng-title="player.username" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
                  
          button.btn.btn-info.btn-block.visible-xs.visible-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
                  
      button.btn.btn-info.btn-block.hidden-xs.hidden-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
