.sp__wrapper
  .container
    .row
      .col-md-8
        h1 Global Leaderboards
      .col-md-4
        .sp__mini-rank-form
          form.sp__rank-form
            .form-group
              label.control-label Enter a Steam Profile URL
              input.form-control(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
              p.help-block(ng-if="vm.profileError")
                | {{ vm.profileError }}
            button.btn.btn-primary.btn-block(ng-click="vm.goToProfile(vm.steamProfileUrl)")
              | Get Ranks & Stats
              span.sp__spinner.sp__spinner-mini.pull-right(ng-if="vm.showLoader")
    .sp__leaderboards
      .row
        .col-md-3(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            thead
              tr
                th
                  a(ng-click="vm.sortLeaderboard(playlist, '$index')" href="#") Pos
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'Value')" href="#") Rank
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'UserName')" href="#") Username
                th
                  a(ng-click="vm.sortLeaderboard(playlist, 'MMR')" href="#") MMR
            tbody
              tr(ng-repeat="player in leaderboard | orderBy:vm.sort[playlist]")
                td
                  strong {{ '#' + ($index + 1) }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.Value }}_w.png" ng-title="player.Value | rlPlaylist")
                td
                  a(ng-if="player.UserName" ng-title="player.UserName" ng-href="/{{ player.SteamID }}") {{ player.UserName }}
                td
                  span(ng-if="player.MMR") {{ player.MMR }}
