.sp__wrapper
  .container
    sp-header(page-title="Global Leaderboards" sub-title="Top 200 players (updated every hour)")
    .sp__tabs
      ul
        li.active(ng-class="{'active': vm.currentTab == 10}" ng-click="vm.currentTab = 10") 1v1
        li(ng-class="{'active': vm.currentTab == 11}" ng-click="vm.currentTab = 11") 2v2
        li(ng-class="{'active': vm.currentTab == 12}" ng-click="vm.currentTab = 12") 3v3 Solo
        li(ng-class="{'active': vm.currentTab == 13}" ng-click="vm.currentTab = 13") 3v3 Team
    .sp__leaderboards
      .row
        .col-md-6(ng-repeat="playlist in vm.leaderboards" ng-if="playlist.playlist == vm.currentTab")
          table.table.table-responsive.sp__table
            thead
              tr
                th
                  a(ng-click="vm.sortLeaderboard('position')" href="#") Pos
                th
                  a(ng-click="vm.sortLeaderboard('tier')" href="#") Rank
                th
                  a(ng-click="vm.sortLeaderboard('username')" href="#") Username
                th
                  a(ng-click="vm.sortLeaderboard('mmr')" href="#") MMR
            tbody
              tr(ng-repeat="player in playlist.players | orderBy: vm.sort | limitTo: vm.limit")
                td
                  strong {{ '#' + ($index + 1) }}
                td
                  img.sp__table-rank(ng-src="/img/ranks/{{ player.tier }}_w.png" ng-title="player.tier | rlPlaylist")
                td
                  a(ng-if="player.username" ng-title="player.username" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
          button.btn.btn-info.btn-block.hidden-xs.hidden-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="8743487243" ad-format="auto" css-style="display:block;" full-width="true")
        .col-md-4
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="5407597647" ad-format="auto" css-style="display:block;" full-width="true")
