.sp__wrapper
  .container
    sp-header(page-title="Global Leaderboards" sub-title="Top 200 players (updated every hour)")
    .sp__leaderboards
      .row
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="playlist in vm.leaderboards | orderBy: 'playlist' | limitTo:4")
          h3 {{ playlist.playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            thead
              tr
                th
                  a(ng-click="vm.sortLeaderboard('position')" href="#") Pos
                th
                  a(ng-click="vm.sortLeaderboard('tier')" href="#") Rank
                th
                  a(ng-click="vm.sortLeaderboard('username')" href="#") Username
                th
                  a(ng-click="vm.sortLeaderboard('mmr')" href="#") MMR
            tbody
              tr(ng-repeat="player in playlist.players | orderBy: vm.sort | limitTo: 10")
                td
                  strong {{ '#' + ($index + 1) }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" ng-title="player.tier | rlPlaylist")
                td
                  a(ng-if="player.username" ng-title="player.username" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
      adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="8743487243" ad-format="auto" css-style="display:block;" full-width="true")
      .row
        .col-lg-3.col-md-4.col-sm-6(ng-repeat="playlist in vm.leaderboards | orderBy: 'playlist' | limitTo:4")
          table.table.table-responsive.sp__table
            tbody
              tr(ng-repeat="player in playlist.players | orderBy: vm.sort | limitTo: vm.limit:10")
                td
                  strong {{ '#' + ($index + 11) }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" ng-title="player.tier | rlPlaylist")
                td
                  a(ng-if="player.username" ng-title="player.username" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
                  
          button.btn.btn-info.btn-block.visible-xs.visible-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
                  
      button.btn.btn-info.btn-block.hidden-xs.hidden-sm(ng-click="vm.increaseLeaderboard()" href="#" ng-if="vm.limit < 200") View More
      
      adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="5407597647" ad-format="auto" css-style="display:block;" full-width="true")
