.container
  ul.play__ticker
    li {{ vm.song[vm.currentNoteIndex - 3] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex - 2] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex - 1] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex + 1] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex + 2] }} &nbsp;
    li {{ vm.song[vm.currentNoteIndex + 3] }}
  ul.play__notes  
    li(note="C2" hotkey="1")
      li.black.black-left(note="Db2" hotkey="EXCL")
    li(note="D2" hotkey="2")
      li.black.black-right(note="Eb2" hotkey="QUOT")
    li(note="E2" hotkey="3")
    li(note="F2" hotkey="4")
      li.black.black-left(note="Gb2" hotkey="$")
    li(note="G2" hotkey="5")
      li.black(note="Ab2" hotkey="PERC")
    li(note="A2" hotkey="6")
      li.black.black-right(note="Bb2" hotkey="CHEV")
    li(note="B2" hotkey="7")
    
    li(note="C3" hotkey="8")
      li.black.black-left(note="Db3" hotkey="ATRX")
    li(note="D3" hotkey="9")
      li.black.black-right(note="Eb3" hotkey="OBKT")
    li(note="E3" hotkey="0")
    li(note="F3" hotkey="q")
      li.black.black-left(note="Gb3" hotkey="Q")
    li(note="G3" hotkey="w")
      li.black(note="Ab3" hotkey="W")
    li(note="A3" hotkey="e")
      li.black.black-right(note="Bb3" hotkey="E")
    li(note="B3" hotkey="r")
    
    li(note="C4" hotkey="t")
      li.black.black-left(note="Db4" hotkey="T")
    li(note="D4" hotkey="y")
      li.black.black-right(note="Eb4" hotkey="Y")
    li(note="E4" hotkey="u")
    li(note="F4" hotkey="i")
      li.black.black-left(note="Gb4" hotkey="I")
    li(note="G4" hotkey="o")
      li.black(note="Ab4" hotkey="O")
    li(note="A4" hotkey="p")
      li.black.black-right(note="Bb4" hotkey="P")
    li(note="B4" hotkey="a")
    
    li(note="C5" hotkey="s")
      li.black.black-left(note="Db5" hotkey="S")
    li(note="D5" hotkey="d")
      li.black.black-right(note="Eb5" hotkey="D")
    li(note="E5" hotkey="f")
    li(note="F5" hotkey="g")
      li.black.black-left(note="Gb5" hotkey="G")
    li(note="G5" hotkey="h")
      li.black(note="Ab5" hotkey="H")
    li(note="A5" hotkey="j")
      li.black.black-right(note="Bb5" hotkey="J")
    li(note="B5" hotkey="k")
    
    li(note="C6" hotkey="l")
      li.black.black-left(note="Db6" hotkey="L")
    li(note="D6" hotkey="z")
      li.black.black-right(note="Eb6" hotkey="Z")
    li(note="E6" hotkey="x")
    li(note="F6" hotkey="c")
      li.black.black-left(note="Gb6" hotkey="C")
    li(note="G6" hotkey="v")
      li.black(note="Ab6" hotkey="V")
    li(note="A6" hotkey="b")
      li.black.black-right(note="Bb6" hotkey="B")
    li(note="B6" hotkey="n")
    
    li(note="C7" hotkey="m")
