.sp__wrapper
  .sp__spinner(ng-hide="vm.playlists")
  .container(ng-show="vm.playlists")
    .row
      .col-md-4.col-md-offset-1
        h1 {{ vm.profile.personaname }}
        span.sp__sub-header Updated < 5 minutes ago
    .row
      .col-md-1
        | &nbsp;
      .col-md-5
        table.table.table-responsive.sp__table
          thead
            tr
              th
                | Mode
              th(colspan="2")
                | Rank
              th
                | Division
              th
                | # Played
              th
                | MMR
          tbody
            tr(ng-repeat="playlist in vm.playlists")
              td 
                span {{ playlist.Playlist | rlPlaylist }}
              td 
                img(ng-src="/img/ranks/{{ playlist.Tier || 0 }}_w.png" title="{{ playlist.Tier | rlTier }}" style="width:36px;")
              td.text-left 
                span.hidden-xs {{ playlist.Tier | rlTier }}
              td
                span(ng-if="playlist.Division > 0") {{ playlist.Division | roman }}
              td
                span(ng-if="playlist.MatchesPlayed") {{ playlist.MatchesPlayed }} 
              td
                span(ng-if="playlist.MMR") {{ playlist.MMR }}
      .col-md-4
        table.table.table-responsive.sp__table.profile__stats
          thead
            tr
              th(ng-repeat="stat in vm.stats")
                | {{ stat.name }}
          tbody
            tr
              td(ng-repeat="stat in vm.stats")
               | {{ stat.value }}
        .sp__share
          h4 Share
          .row
            .col-md-7
              .form-group
                input.form-control.input-sm(ng-model="vm.shareUrl" readonly)
            .col-md-5
              .sp__share-btn
                | <a class="twitter-share-button" ng-href="https://twitter.com/intent/tweet?text=Check out my Rocket League rank!&url={{ vm.shareUrl }}&via=rlrank&hashtags=rlrank,rocketleague">Tweet</a>
              .sp__share-btn
                | <div class="fb-share-button" data-href="{{ vm.shareUrl }}" data-layout="button"></div>
        hr
        .sp__advert
          ins.adsbygoogle(style="display:block" data-ad-client="ca-pub-1249925481918023" data-ad-slot="6533243993" data-ad-format="auto")
        
