.sp__header
  .row
    .col-md-4
      h1 {{ pageTitle }}
      span.sp__sub-header(ng-show="subTitle") {{ subTitle }}
    .col-md-4
      div.pull-right
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="8194770448" css-style="display:inline-block;width:320px;height:100px")
    .col-md-4
      .sp__mini-rank-form.hidden-xs.hidden-sm
        rank-form
