nav.navbar.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.logo(href="/" title="Rocket League Rank") Rocket League Rank
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/leaderboards" title="Rocket League Leaderboards") LEADERBOARDS
        li
          a(href="/rank-tiers" title="Rocket League Rank Tiers") RANK TIERS
        //- li
        //-   a(href="/statistics") STATISTICS
        li
          a(href="/status" title="Rocket League Server Status") SERVER STATUS
        li
          a(href="/faq" title="Rocket League Rank FAQ") FAQ
        li
          a(href="/contact" title="Contact Rocket League Rank") CONTACT
