.sp__wrapper
  .container
    .sp__hero
      h1 View & share your Rocket League rank
      .row
        .col-md-4.col-md-offset-4
          h4(ng-if="vm.profile")
            | Hello {{ vm.profile.personaname }}!
          table.table.table-responsive.sp__table
            tr(ng-if="vm.playlists")
              td
                strong Mode
              td
                strong Rank
              td
                strong Matches Played
              td
                strong MMR
            tr(ng-repeat="playlist in vm.playlists")
              td {{ playlist.Playlist | rlPlaylist }}
              td {{ playlist.Tier | rlTier }}
              td
                span(ng-if="playlist.MatchesPlayed") {{ playlist.MatchesPlayed }} 
              td
                span(ng-if="playlist.MMR") {{ playlist.MMR }}
          .form-group(ng-if="vm.playlists")
            label.control-label Share URL
            input.form-control(ng-model="vm.shareUrl" readonly)
          hr(ng-if="vm.playlists")
          form.sp__rank-form
            .form-group
              label.control-label Enter a Steam Profile URL
              input.form-control(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
            button.btn.btn-primary.btn-block(ng-click="vm.authorise()")
              | Get Ranks & Stats
    .sp__leaderboards
      h2 Live Global Leaderboards
      .row
        .col-md-3(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            tr
              td
                strong Pos
              td
                strong Rank
              td
                strong Username
              td
                strong MMR
            tr(ng-repeat="player in leaderboard")
              td
                strong {{ '#' + ($index + 1) }}
              td
                img.img-responsive(ng-src="/img/ranks/{{ player.Value }}_w.png" ng-title="player.Value | rlPlaylist")
              td
                span(ng-if="player.UserName" ng-title="player.UserName") {{ player.UserName }}
              td
                span(ng-if="player.MMR") {{ player.MMR }}
