.sp__wrapper
  .container
    .sp__hero
      h1 Find out your Rocket League MMR!
      .row
        .col-md-4.col-md-offset-4
          form.sp__rank-form
          
            //- label.control-label Enter a Steam/Playstation/Xbox ID
            .input-group
              input.form-control(ng-model="vm.input" placeholder="{{ vm.placeholder[vm.platform.id] }}")
              .input-group-btn
                button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                  i.socicon(ng-class="{'socicon-steam': vm.platform.id == 'steam', 'socicon-playstation': vm.platform.id == 'psn', 'socicon-xbox': vm.platform.id == 'xbox'}")
                  | &nbsp;{{ vm.platform.name }}&nbsp;
                  span.caret
                ul.dropdown-menu.dropdown-menu-right
                  li
                    a(ng-click="vm.setPlatform('steam')" href="#")
                      i.socicon.socicon-steam
                      | &nbsp;Steam
                  li
                    a(ng-click="vm.setPlatform('psn')" href="#")
                      i.socicon.socicon-playstation
                      | &nbsp;Playstation
                  li
                    a(ng-click="vm.setPlatform('xbox')" href="#")
                      i.socicon.socicon-xbox
                      | &nbsp;Xbox
            p.help-block(ng-if="vm.profileError")
              | {{ vm.profileError }}
            button.btn.btn-primary.btn-block(ng-click="vm.goToProfile()")
              | Get Ranks & Stats
              span.sp__spinner.sp__spinner-mini.pull-right(ng-if="vm.showLoader")
      .sp__hero-sub
        h2 Players Online: {{ vm.totalPopulation }}
        .row
          .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
            .sp__graph(ng-if="vm.populationHistorical")
              .sparkline(sparkline="vm.populationHistorical")
      //- table.table.table-responsive.sp__table.profile__stats
      //-   thead
      //-     tr
      //-       th(ng-repeat="playlist in vm.playlistPopulation | orderBy:playlist")
      //-         | {{ playlist.playlist | rlPlaylist }}
      //-   tbody
      //-     tr
      //-       td(ng-repeat="playlist in vm.playlistPopulation")
      //-        | {{ playlist.players }}
    .sp__leaderboards
      h2 Global Leaderboards
      .row
        .col-md-3(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            tr
              td
                strong Pos
              td
                strong Rank
              td
                strong Username
              td
                strong MMR
            tr(ng-repeat="player in leaderboard | orderBy:'-mmr' |  limitTo:10")
              td
                strong {{ '#' + player.position }}
              td
                img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" title="{{ player.tier | rlTier }}")
              td
                a(ng-if="player.username" title="{{ player.username }}" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
              td
                span(ng-if="player.mmr") {{ player.mmr }}
    //- .sp__advert.text-center
    //-   ins.adsbygoogle(style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1249925481918023" data-ad-slot="3603457193")
    //-     script.
    //-       (adsbygoogle = window.adsbygoogle || []).push({});
    .sp__advert.text-center
      div(google-adsense)
