.sp__wrapper#home
  section.sp__landing
    .container
      .sp__hero
        h1 Find out your Rocket League MMR!
        .row
          .col-md-6.col-md-offset-3
            .sp__alert.text-left(ng-repeat="alert in vm.alerts")
              .label(ng-class="'label-' + alert.type") {{ alert.subject.toUpperCase() }}
              | &nbsp;{{ alert.message }}
            rank-form(steam-login="true")
        .sp__hero-sub
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="4173686840" ad-format="auto" css-style="display:block;")
          //- .row
          //-   .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
          //-     .sp__graph(ng-if="vm.populationHistorical")
          //-       .sparkline(sparkline="vm.populationHistorical")
        //- table.table.table-responsive.sp__table.profile__stats
        //-   thead
        //-     tr
        //-       th(ng-repeat="playlist in vm.playlistPopulation | orderBy:playlist")
        //-         | {{ playlist.playlist | rlPlaylist }}
        //-   tbody
        //-     tr
        //-       td(ng-repeat="playlist in vm.playlistPopulation")
        //-        | {{ playlist.players }}
  
  section.middle
    .container
      .sp__leaderboards
        h2 Global Leaderboards
        .row
          .col-md-3.col-sm-6(ng-repeat="playlist in vm.leaderboards | orderBy: 'playlist' | limitTo:4")
            h3 {{ playlist.playlist | rlPlaylist }}
            table.table.table-responsive.sp__table
              tr
                td
                  strong Pos
                td
                  strong Rank
                td
                  strong Username
                td
                  strong MMR
              tr(ng-repeat="player in playlist.players | orderBy:'-mmr' | limitTo:10")
                td
                  strong {{ '#' + ($index + 1) }}
                td
                  img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" title="{{ player.tier | rlTier }}")
                td
                  a(ng-if="player.username" title="{{ player.username }}" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
                td
                  span(ng-if="player.mmr") {{ player.mmr }}
        .row
          .col-md-4.col-md-offset-4
            a.btn.btn-primary.btn-block(href="/leaderboards" title="Rocket League Leaderboards" style="margin: 20px 0;") See Top 200
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="1369507640" ad-format="auto" css-style="display:block;" full-width="true")
  section#news.bg2
    .container
      .row
        .col-sm-4
          h2 Site Updates
          .panel.sp__panel-trans.sp__news(ng-repeat="post in vm.siteUpdates")
            .panel-body
              header
                h4 {{ post.title }}
                  small.pull-right {{ post.published_at | amTimeAgo }}
              section
                {{ post.content }}
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h4 Season 3 Update
                  small.pull-right 21 June 2016
              p The new Season 3 update has officially been release by Psyonix, and our website is now displaying Season 3 ranks.
              p The leaderboards will shortly switch over the season 3 ranks.
              p Season 2 ranks will be available shortly in a new area within your profile.
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h4 Discord Bot
                  small.pull-right 12th June 2016
              p
                discord-button
              p Check out our Discord Bot! Click the button above and once the Bot is on your server, type "!rlrank help" to see all the available commands.
              p Currently he can pull the latest MMR for all PC, Xbox One and PS4 players.
              p 
                | There is also an experimental feature where you can add your highest rank to your name 
                | (currently won't work for admin users).
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h4 Historical Ranks
                  small.pull-right 4th June 2016
              p
                a(href="/img/updates/04062016.jpg" target="_blank" title="Rocket League Matchmaking Tiers")
                  img(src="/img/updates/04062016.jpg")
              p There's a new addition to the profile page! We have added a minature graph beside your MMR to show your historic Rocket League rank over time.
              p Currently it shows your MMR the last 20 times you view your profile. We are experimenting between this method versus showing your MMR for the past X amount of days.
              p Let us know what you think on our <a href="https://twitter.com/rlrank" title="Rocket League Rank Twitter">Twitter</a> page!
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h4 Rank Tier Thresholds
                  small.pull-right 30th May 2016
              p Over at our new <a href="/rank-tiers" title="Rocket League Rank Tiers">Rank Tier</a> area, you can view the MMR ranges for each Rocket League matchmaking rank.
              p
                a(href="/img/updates/30052016.jpg" target="_blank" title="Rocket League Matchmaking Tiers")
                  img(src="/img/updates/30052016.jpg")
              p These MMR figures are calculated from almost 100,000 real player ranks, and can be used to work out when you will rank up (or down) in Rocket League matchmaking.
              p On your profile page we have added an indicator to show when you are close to ranking up or ranking down a matchmaking tier.
              p
                a(href="/img/updates/30052016_1.jpg" target="_blank" title="Rocket League Matchmaking Tiers")
                  img(src="/img/updates/30052016_1.jpg")
              p We will shortly be adding MMR ranges for each division, and we will provide the MMR thresholds for each matchmaking playlist.
              p Enjoy!
              p.lead.text-right
                a(href="/rank-tiers", title="See tiers..." target="_blank") See tiers...
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h4 Player Comparison
                  small.pull-right 27th May 2016
              p You can now compare your rank side-by-side with another player. Simply visit the profile page of the first player, and use the new comparison tool box on the right hand side.
              p
                a(href="/img/updates/27052016.jpg" target="_blank" title="Rocket League Rank Comparison")
                  img(src="/img/updates/27052016.jpg")
              p We are planning on building on this feature very shortly, with easier comparison via graphs.
              p.lead.text-right
                a(href="/u/76561198076736523/76561198025037610", title="Try it out..." target="_blank") Try it out...
        .col-md-7.col-md-offset-1
          h2 Rocket League News
          article.sp__blog-post(itemscope itemtype="http://schema.org/NewsArticle" ng-repeat="post in vm.blogPosts | limitTo: 5")
            header
              h2(itemprop="name") {{ post.title }}
              p
                span(itemprop="by-author") By {{ post.author }}
                | &nbsp;/&nbsp;
                time(itemprop="datePublished" datetime="{{ post.published_at }}") {{ post.published_at | amTimeAgo }}
              .sp__blog-social
                | <a twitter data-lang="en" data-count="horizontal" data-url="https://owstats.net/blog/{{post.seo_title}}" data-via='overwatchstats' data-text="{{post.title}} https://owstats.net/blog/{{post.seo_title}} #overwatch" data-hashtags="overwatch" data-size="medium" data-text='Tweet' ></a>
              .sp__blog-social
                | <a facebook class="facebookShare" data-url='https://owstats.net/blog/{{post.seo_title}}'>1</a>
              h3(itemprop="headline") {{ post.sub_title }}
            div
              div(itemprop="disambiguatingDescription" markdown-to-html="post.short_content")
            a.btn.btn-primary.btn-block(itemprop="mainEntityOfPage" ng-href="/blog/{{ post.seo_title }}") Read More
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h3.m-t-0 EU Power Rankings
                  small.pull-right 2nd June 2016
              .row
                .col-md-2
                  a(href="/img/news/powerranking-eu.jpg" target="_blank" title="Rocket League EU Power Ranking")
                    img(src="/img/news/powerranking-eu.jpg")
                .col-md-10
                  p This weeks EU Power Rankings have arrived! Flipsid3 Tactics remains on top even though they have been taking a break from tournaments since winning the first RLCS EU Online Final. Mock-it EU moves up to #2 deservingly so, after winning Gfinity, PPL and Rocket Royale last week and beating former #2/#1 team We Dem Girlz multiple times. This moves WDG down to #3 which is the lowest they’ve been ranked in quite some time.
              ol
                li <strong>Flipsid3 Tactics:</strong> Markydooda / Kuxir97 / M1k3rules / mye_bipod_4shor
                li <strong>Mock-it eSports EU:</strong> Paschy90 / Turbopolsa / Sikii
                li <strong>We Dem Girlz:</strong> Remkoe / gReazy / Maestro
                li <strong>Supersonic Avengers:</strong> ELMP / Snaski / Doomsee / Kasabi
                li <strong>KA-POW:</strong> al0t / Sniperkid138
                li <strong>The Flying Dutchmen:</strong> Dogu / Jessiepinkmaan / PauliepauINL / Vogan
                li <strong>JJJ Squad:</strong> Krazack / JHZER / Ryuk
                li <strong>Crown & Jewels Frost:</strong> Sebadam / Taurex / Flarke
                li <strong>Miracle Workers:</strong> stocki1997 / killerno7 / H3avy
                li <strong>Crown & Jewels Blaze:</strong> Yeezy / xXKhaelanXx
              p.lead.text-right
                a(href="https://www.reddit.com/r/RocketLeague/comments/4m9im0/esports_eu_power_rankings_week_of_531/", title="Read more..." target="_blank") Read more...
          adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="6884330847" ad-format="auto" css-style="display:block;" full-width="true")
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h3.m-t-0 Weekend Team Updates
                  small.pull-right 30th May 2016
              p After a slow start to the week things finally got going with Gfinity on Friday, Pulsar Premier League on Saturday and Rocket Royale on Sunday. There were some great hard fought matches played, but one team really stood out this weekend, and that was Mock-it EU with the addition of their latest member Turbopolsa formerly of KA-POW. It was a surprise when KA-POW announced shortly after losing the 3rd place match in RLCS to Mock-it EU that Turbo will be leaving the team to join Mock-it EU. Well, in his first week with the new team, he go to face off against his old teammates, KA-POW in the Gfinity final. It’s also important to note that Miztik, who was replaced by Turbo on Mock-it EU was playing for KA-POW, if this was just a sub or is a permanent situation I don’t know. Unfortunately, things didn’t go to well for KA-POW in the final as they were swept by Mock-it EU 4-0.
              p However, this was only the beginning for Mock-it EU, the following day it was time for the Pulsar Premier League’s 2nd Season Playoffs which they would also win after defeating Kings of Urban 3-1 and then We Dem Girlz 4-1 in the final. Now, fast forward to the next day, Sundays Rocket Royale Week 8, back to its original format due to no RLCS this weekend. Same story, same results, Mock-it EU once again dominated the brackets beating We Dem Girlz 3-2 in the semi-finals, and then playing them again after WDG won the 2nd chance bracket only to fall short again to Mock-it EU 4-3. I think its save to say that the recent roster change has worked in their favor.
              .row
                .col-md-2
                  p
                    img(src="/img/news/shazoo.jpg")
                .col-md-10
                  p Some other players have also decided that things just aren’t working out with their current teams. Team Shazoo announced via Twitter that Continuum has decided to leave the team due to “play style” issues. Shazoo has also recently acquired player Luxx.
              | <blockquote class="twitter-tweet" data-lang="en-gb"><p lang="en" dir="ltr">We like to play musical chairs here at Shazoo, <a href="https://twitter.com/Continuum_RL">@Continuum_RL</a> has decided to leave the team, playstyle the issue. thanks for the fun times.</p>&mdash; Team Shazoo (@TeamShazoo) <a href="https://twitter.com/TeamShazoo/status/737007872043823104">29 May 2016</a></blockquote>
              p Player HeavY also announced via Twitter that he will be...
              script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
              p.lead.text-right
                a(href="http://rl-report.com/2016/05/30/weekend-team-updates", title="Read more..." target="_blank") Read more...
          .panel.sp__panel-trans.sp__news
            .panel-body
              header
                h3.m-t-0 Season 3 Changes
                  small.pull-right 24th May 2016
              h4 Rewards
              p Psyonix next Rocket League update at the end of June will mark the conclusion of Season 2 and the beginning of Season 3. There will be a more specific date closer to launch, but in the meantime, here's what you can expect to see in terms of rewards based on your highest-reached competitive skill tier: 
              .row
                .col-md-6
                  | <br><strong>Prospect I or higher</strong> <br> Season 2 Prospect Rocket Trail
                  img(src="/img/news/GIF_03_Prospect.gif")
                .col-md-6
                  | <br><strong>Challenger I or higher</strong> <br> Season 2 Challenger Rocket Trail
                  img(src="/img/news/GIF_01_Challenger.gif")
                .col-md-6
                  | <br><strong>Rising Star or higher</strong> <br> Season 2 Star Rocket Trail
                  img(src="/img/news/GIF_04_Star.gif")
                .col-md-6
                  | <br><strong>Champion or higher</strong> <br> Season 2 Champion Rocket Trail
                  img(src="/img/news/GIF_02_Champion.gif")
                .col-md-12
                  p
                    br
                    | and last but not least <strong>Grand Champion's get a "Season 2 Grand Champion" Title</strong>
                  p
                    h4 SKILL WIPE 
                    | As the first year of competitive Rocket League draws to a close, there will be a full Skill Rating wipe for all competitive playlists. Psyonix will be watching how the skill curve shakes out without legacy data from previous seasons. 
                    | A full reset will not solve all of the concerns raised during Season 2, but the wipe will give Psyonix valuable data to analyze as they move forward. For Grand Champion players in particular, Psyonix want to observe how the top ranks settle before deciding how to approach past complaints about stagnation and rank climbing. 
              p.lead.text-right
                a(href="http://steamcommunity.com/games/252950/announcements/detail/692805476660693610", title="Read more..." target="_blank") Read more...
      h2
        i.fa.fa-twitch &nbsp;
        | Rocket League Streams
      .panel.sp__panel-trans.sp__twitch
        .panel-body
          .row
            .col-md-2.col-sm-4.col-xs-12(ng-repeat="stream in vm.twitchStreams | limitTo: 12")
              a(ng-href="{{ stream.channel.url }}" title="{{ stream.channel.status }}" target="_blank")
                h4 {{ stream.channel.status }}
                img(ng-src="{{ stream.preview.medium }}")
                p
                  strong {{ stream.channel.name }}
                  strong.pull-right
                    i.fa.fa-user &nbsp;
                    | {{ stream.viewers }}
