.container
  .row
    .col-md-4
      form
        .form-group
          input.form-control(ng-model="vm.steamProfileUrl" placeholder="Steam Community Link")
        button.btn.btn-primary(ng-click="vm.authorise()")
          | Get Ranks
      h4(ng-if="vm.profile")
        | Hello {{ vm.profile.personaname }}!
      p
      ul.list-group
        li.list-group-item(ng-repeat="playlist in vm.playlists")
          span {{ playlist.Playlist | rlPlaylist }} |&nbsp;
          span {{ playlist.Tier | rlTier }} |&nbsp;
          span(ng-if="playlist.MatchesPlayed") Matches played: {{ playlist.MatchesPlayed }} |&nbsp; 
          span(ng-if="playlist.MMR") MMR: {{ playlist.MMR }}
