.container
  .row
    .col-md-4
      form
        .form-group
          input.form-control(ng-model="vm.steamProfileUrl" placeholder="Steam Community Link")
        button.btn.btn.warning(ng-click="vm.authorise()")
          | Auth
        button.btn.btn-primary(ng-click="vm.getPlayerRanks()")
          | Get Ranks
      h4(ng-if="vm.profile")
        | Hello {{ vm.profile.personaname }}!
      p
        | {{ vm.playerRanks }}
