.sp__wrapper
  .container
    .sp__hero
      h1 Find out your Rocket League MMR!
      .row
        .col-md-4.col-md-offset-4
          rank-form
      .sp__hero-sub
        h2 Players Online: N/A
        //- .row
        //-   .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
        //-     .sp__graph(ng-if="vm.populationHistorical")
        //-       .sparkline(sparkline="vm.populationHistorical")
      //- table.table.table-responsive.sp__table.profile__stats
      //-   thead
      //-     tr
      //-       th(ng-repeat="playlist in vm.playlistPopulation | orderBy:playlist")
      //-         | {{ playlist.playlist | rlPlaylist }}
      //-   tbody
      //-     tr
      //-       td(ng-repeat="playlist in vm.playlistPopulation")
      //-        | {{ playlist.players }}
    .sp__leaderboards
      h2 Global Leaderboards
      .row
        .col-md-3(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            tr
              td
                strong Pos
              td
                strong Rank
              td
                strong Username
              td
                strong MMR
            tr(ng-repeat="player in leaderboard | orderBy:'-mmr' |  limitTo:10")
              td
                strong {{ '#' + player.position }}
              td
                img.img-responsive(ng-src="/img/ranks/{{ player.tier }}_w.png" title="{{ player.tier | rlTier }}")
              td
                a(ng-if="player.username" title="{{ player.username }}" ng-href="/u/{{ player.rlrank_id }}") {{ player.username }}
              td
                span(ng-if="player.mmr") {{ player.mmr }}
    //- .sp__advert.text-center
    //-   ins.adsbygoogle(style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-1249925481918023" data-ad-slot="3603457193")
    //-     script.
    //-       (adsbygoogle = window.adsbygoogle || []).push({});
    .sp__advert.text-center
      div(google-adsense)
      
