.sp__wrapper
  .container
    .sp__hero
      h1 View & share your Rocket League rank
      .row
        .col-md-4.col-md-offset-4
          form.sp__rank-form
            .form-group
              label.control-label Enter a Steam Profile URL
              input.form-control(ng-model="vm.steamProfileUrl" placeholder="https://steamcommunity.com/profiles/76561198076736523")
            button.btn.btn-primary.btn-block(ng-click="vm.goToProfile(vm.steamProfileUrl)")
              | Get Ranks & Stats
    .sp__leaderboards
      h2 Global Leaderboards
      .row
        .col-md-3(ng-repeat="(playlist, leaderboard) in vm.leaderboards")
          h3 {{ playlist | rlPlaylist }}
          table.table.table-responsive.sp__table
            tr
              td
                strong Pos
              td
                strong Rank
              td
                strong Username
              td
                strong MMR
            tr(ng-repeat="player in leaderboard")
              td
                strong {{ '#' + ($index + 1) }}
              td
                img.img-responsive(ng-src="/img/ranks/{{ player.Value }}_w.png" ng-title="player.Value | rlPlaylist")
              td
                span(ng-if="player.UserName" ng-title="player.UserName") {{ player.UserName }}
              td
                span(ng-if="player.MMR") {{ player.MMR }}
