.sp__wrapper
  .container
    sp-header(page-title="About")
    .row
      .col-md-6
        .panel
          .panel-body
            p Rocketleaguerank.com was started to give Rocket League players more choice when looking up their in-game rank and stats. It has been setup with a core set of features, giving Rocket League players a quick way to lookup their rank, MMR and general statistics. 
            p The current roadmap is revolved around providing more detailed analytics and staistics into your own matchmaking progress, as well as the global progress for all Rocket League players.
            p Currently Rocket League Rank is funded by a very minimal advertising (which you may not even see!). This is purely to cover server costs and the time required to maintain the website.
            p If you would like to see a certain feature, or would like to get involved with what we are doing - either by helping us out with the analytics side, or by getting our name out there - then please throw us a message via our <a title="Contact Rocket League Rank" href="/contact">contact form</a>, <a title="Rocket League Rank Twitter" href="https://twitter.com/rlrank">Twitter</a> or <a title="Rocket League Rank Facebook" href="https://www.facebook.com/rocketleaguerank">Facebook</a>.
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
