.sp__wrapper
  .container
    sp-header(page-title="Advertise")
    .row
      .col-md-4
        .panel
          .panel-body
            p If you are interested in advertising on Rocket League Rank, please contact advertise@rocketleaugerank.com. We can provide statistical data to parties with a serious interest.
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
