.sp__wrapper
  .container
    sp-header(page-title="Contact")
    .row
      .col-md-6
        .panel
          .panel-body
            p Please send a message to our <a href="https://twitter.com/rlrank">Twitter</a> until we have have finished this page.
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
