.sp__wrapper
  .container
    sp-header(page-title="FAQs")
    .row
      .col-md-4
        .panel
          .panel-body
            h3 How do I find my Steam profile URL?
            p Log in to your Steam account at http://steamcommunity.com/, go to your profile page and copy the URL in your address bar. This will either be steamcommunity.com/id/<name> or steamcommunity.com/profiles/<id>. You can also just enter <name> or <id> into the input box.
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
