.sp__wrapper
  .container
    sp-header(page-title="Frequently Asked Questions")
    .row
      .col-md-6
        .panel
          .panel-body
            h4.page-title How do I find my Steam profile URL?
            p Log in to your Steam account at http://steamcommunity.com/, go to your profile page and copy the URL in your address bar. This will either be <kbd>steamcommunity.com/id/{name}</kbd> or <kbd>steamcommunity.com/profiles/{id}</kbd>. You can also just enter <kbd>{name}</kbd> or <kbd>{id}</kbd> into the input box.
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
