.sp__wrapper
  .container
    sp-header(page-title="Privacy Policy")
    .row
      .col-md-4
        .panel
          .panel-body
            p We store details you provide about your Steam, PSN and Xbox Live accounts, normally just a username or profile URL. This is so we can pull data from your Rocket League profile and generate anonymous statistical data. We do not use this data for anything else. 
            p We do not store any cookies within your browser.
            strong We will never require or ask you for your password. 
    .sp__mini-rank-form.visible-xs.visible-sm
      rank-form
