.sp__wrapper
  .container
    sp-header(page-title="Rocket League Rank Tiers" sub-title="Season 2 rank and division MMR thresholds")
    .row
      .col-md-8
        .row.sp__rank-tiers
          div(ng-repeat="range in vm.tierRanges | orderBy: '-' + range.tier | limitTo:7" ng-class="{'col-sm-4': $index < 3, 'col-sm-3': $index >= 3}" ng-if="range.tier || range.tier === 0")
            .sp__rank
              .sp__rank-tier
                img(src="/img/ranks/{{ range.tier + '_w.png' }}")
                p
                  strong {{ range.tier | rlTier }}
              .sp__rank-mmr
                dl.dl-horizontal
                  span(ng-repeat="division in range.divisions | orderBy: 'division'")
                    dt {{ division.division | roman }}
                    dd {{ ::division.minMMR }} - {{ ::division.maxMMR }}
          
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="6179653649" ad-format="auto" css-style="display:block;" full-width="true")
        .row.sp__rank-tiers
          div.col-sm-3(ng-repeat="range in vm.tierRanges | orderBy: '-' + range.tier | limitTo:20:7" ng-if="range.tier || range.tier === 0")
            .sp__rank
              .sp__rank-tier
                img(src="/img/ranks/{{ range.tier + '_w.png' }}")
                p
                  strong {{ range.tier | rlTier }}
              .sp__rank-mmr
                dl.dl-horizontal
                  span(ng-repeat="division in range.divisions | orderBy: 'division'")
                    dt {{ division.division | roman }}
                    dd {{ ::division.minMMR }} - {{ ::division.maxMMR }}
      .col-md-3.col-md-offset-1
        adsense-directive(ad-client="ca-pub-6993069428952088" ad-slot="1220220447" ad-format="auto" css-style="display:block;")
