.sp__wrapper
  .container
    sp-header(page-title="Rocket League Rank Tiers" sub-title="Season 2 rank and division MMR thresholds")
    .row
      .col-md-8.col-md-offset-2
        .row.sp__rank-tiers
          div(ng-repeat="range in vm.tierRanges | orderBy: '-' + range.tier" ng-class="{'col-sm-4': $index < 3, 'col-sm-3': $index >= 3}" ng-if="range.tier || range.tier === 0")
            .sp__rank-tier
              img(src="/img/ranks/{{ range.tier + '_w.png' }}")
              p
                strong {{ range.tier | rlTier }}
              span(ng-repeat="division in range.divisions | orderBy: '-division'") Div {{ division.division }}: {{ ::division.minMMR }} - {{ ::division.maxMMR }} <br>
