@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300);

body {
  background: url('/img/bg.jpg') no-repeat #000;
  // background-size: contain;
  font-weight: 300;
  background-size: 100%;
}

// Layout
.sp__wrapper {
  margin-top: 50px;
}

.sp__hero {
  text-align: center;
  color: #fff;
  padding: 10px 0 50px 0;

  h1 {
    margin-bottom: 10px;
  }
}

.sp__rank-form {
  padding-top: 30px;
}

.sp__leaderboards h2,
.sp__leaderboards h3 {
  color: #fff;
}

.sp__table {
  color: @text-color;
  > tbody > tr > td,
  > tbody > tr > th {
    max-width: 124px;
    vertical-align: middle;
    span {
      white-space: pre;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }
}
