@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,300);

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
  background: url('/img/bg.jpg') no-repeat #000;
  background-size: cover;
  font-weight: 300;
  background-size: 100%;
}

.wrapper {
  min-height: 100%;
}

section#main {
  overflow: auto;
	padding-bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
  color: #fff;
}

// Layout
.sp__wrapper {
  margin-top: 15px;
}

.sp__hero {
  text-align: center;
  color: #fff;
  padding: 50px 0;

  h1 {
    padding: 20px 0;
  }
}

.sp__rank-form {
  color: #fff;
}

.sp__leaderboards table > tbody > tr > td > img {
  width: 40px;
}

.sp__table {
  color: #D6D6D6;
  background-color: rgba(0, 0, 0, 0.6);

  > tbody > tr > td,
  > tbody > tr > th {
    border-top: 1px solid #3E3E3E;
    max-width: 124px;
    vertical-align: middle;
    span {
      white-space: pre;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  > thead > tr > th {
    text-align: center;
  }


}

footer {
  position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
	clear:both;
  background-color: #fff;
}

.sp__footer {
  padding: 15px;
}
